[General]
work_dir = /tmp
verbose_level = WARN
auth = cloudrunner.plugins.auth.user_db.UserMap
transport = cloudrunner.plugins.transport.server_transport.Transport
scheduler = cloudrunner.plugins.scheduler.cron_scheduler.CronScheduler

[Plugins]
common = cloudrunner.plugins.state.functions

[Security]
server_cert = /tmp/cloudrunner-tests/server.crt
server_key = /tmp/cloudrunner-tests/server.key
ca = /tmp/cloudrunner-tests/ca.crt
cert_pass =

